{% extends 'base.html' %} 

{% block title %}
     <!-- {% if user.roles == 'is_doctor'%} 
        Doctor Dashboard
    {% else %}
        Patient Dashboard
    {% endif %}
    {% endblock %}
{% block content %} -->
{% if request.user.is_authenticated%}
{% if user.roles == 'is_doctor'%}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                              {{user.username}}
                            </h5>
                            <h6>
                            </h6>
                          
                    </ul>
                </div>
            </div>
            
        </div>
                    




            
    </form>           
</div>

{% else %}<div class="container emp-profile">
    <form method="post">
        <div class="row">
            
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                              {{user.username}}
                            </h5>
                </div>
            </div>

            <style>
        .btn-primary {
            background: linear-gradient(0deg, #FC1074 0%, #FE4B2A 100%);
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            border-radius: 30px;
            border: none;
            transition: transform 100ms ease-in-out !important;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
        
        .btn-primary:hover {
            transform: scale(1.05);
        }
    </style>

            <div class="col-md-2">
                <p><a href="{% url 'logout_form' %}" class="btn-primary" >
                <input type="button" class="btn-primary" name="btnAddMore" value="Log Out"/></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h4>LESSONS</h4> 
                    <a href="/fundamentals" style="color:rgb(31, 31, 168)">FUNDAMENTALS</a><br/>
                    <a href="/billing" style="color:rgb(31, 31, 168)">BILLING</a><br/>
                    <a href="/cycles" style="color:rgb(31, 31, 168)">CYCLES</a><br/>
                </div>
            </div>
        </div>
    </form>       
{% endif %}

{% else %}
<div class="container emp-profile " style="margin-top: 10%">
    
        
    <div class="center"><center>
    <style>
        .btn-primary {
            background: linear-gradient(0deg, #FC1074 0%, #FE4B2A 100%);
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            border-radius: 30px;
            border: none;
            transition: transform 100ms ease-in-out !important;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
        
        .btn-primary:hover {
            transform: scale(1.05);
        }
    </style>
    <h3 class="register-heading mb-3">If you have already register then login or register your self</h3>
    <a href="{% url 'log' %}"><button class="btn-primary">Login</button></a> 
    <a href="{% url 'register' %}"><button class="btn-primary">Register</button></a> 
{% endif %}
{% endblock %}